.react-flow .react-flow__node-handles {
  background: white;
  border: 1px solid #bbb;
  padding: 12px;
  width: 300px;
  border-radius: 2px;
  text-align: center;
  height: 50px;
  box-shadow: none;
}
