.viewport-info {
  margin-bottom: 20px;
}

.viewport-info__title {
  font-size: 14px;
  font-weight: 700;
}

.react-flow__node-xy {
  background: white;
  border: 1px solid #333;
  padding: 10px;
  width: 100px;
  text-align: left;
  border-radius: 2px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}
