@media screen and (min-width: 1700px) {
  .wrapper {
    margin-left: calc((100vw - var(--ifm-container-width-xl) - var(--doc-sidebar-width)) / -2);
    margin-right: calc((100vw - var(--ifm-container-width-xl) - var(--doc-sidebar-width)) / -2);
    min-height: 700px;
  }

  .placeholder {
    background: red;
    height: 500px;
  }
}
