.custom-node {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1.5rem;
}

.custom-node hr {
  border-top: 1px solid #eee;
  border: 0;
  margin: 0.5rem 0;
}

.custom-node .name {
  margin: 0;
}

.custom-node .control .name {
  display: block;
  font-size: 0.5rem;
  font-weight: bold;
}

.custom-node .control input[type="range"] {
  margin-top: 1rem;
}

.custom-node .control select {
  margin-top: 1rem;
  width: 100%;
}

.custom-node .control .value {
  display: block;
  font-size: 0.5rem;
  text-align: right;
}