.react-flow__node-zoom {
  font-size: 12px;
  background: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  padding: 10px;
  line-height: 1.2;
}

.react-flow__node-zoom img {
  pointer-events: none;
}

.placeholder div {
  background: #eee;
  width: 100%;
  height: 10px;
  margin-bottom: 4px;
}

.placeholder div:last-child {
  margin-bottom: 0;
}
