/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-regular.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-regular.woff') format('woff'), url('../../static/fonts/NTDapper-regular.eot');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-bold.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-bold.woff') format('woff'), url('../../static/fonts/NTDapper-bold.eot');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-black.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-black.woff') format('woff'), url('../../static/fonts/NTDapper-black.eot');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'jetbrains-mono';
  src: url('../../static/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../../static/fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../../static/fonts/JetBrainsMono-Regular.eot');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff0072;
  --ifm-color-primary-dark: #ff0072;
  --ifm-color-primary-darker: #ff0072;
  --ifm-color-primary-darkest: #ff0072;
  --ifm-color-primary-light: #ff2687;
  --ifm-color-primary-lighter: #ff99c6;
  --ifm-color-primary-lightest: #ffe5f1;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'nt-dapper', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Ubuntu, Arial, sans-serif;
  --ifm-font-family-monospace: 'jetbrains-mono', monospace;
  --ifm-heading-font-weight: 900;
  --ifm-navbar-item-padding-horizontal: 20px;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__brand {
  font-size: 1.5rem;
}

.navbar__title {
  font-weight: 900;
}

.navbar__logo {
  height: 40px;
}

.navbar__brand:hover {
  color: var(--ifm-navbar-link-color);
}

.navbar__item {
  font-weight: 700;
}

.hide-svg-icon svg {
  display: none;
}

.button__rfpro {
  color: #ffffff;
  border: 1px solid #ff0072;
  background: #ff0072;
  padding: 12px 20px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1;
  -webkit-transition: 0.075s all ease-in-out;
  transition: 0.075s all ease-in-out;
  padding-right: 20px !important;
  margin-left: 15px;
}

.button__rfpro:hover {
  color: #fff;
}

.menu__link {
  font-weight: 700;
}

.theme-doc-sidebar-item-category > .menu__link {
  font-weight: 900;
  color: var(--ifm-navbar-link-color);
}
