/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-regular.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-regular.woff') format('woff'),
    url('../../static/fonts/NTDapper-regular.eot');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-bold.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-bold.woff') format('woff'),
    url('../../static/fonts/NTDapper-bold.eot');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'nt-dapper';
  src: url('../../static/fonts/NTDapper-black.woff2') format('woff2'),
    url('../../static/fonts/NTDapper-black.woff') format('woff'),
    url('../../static/fonts/NTDapper-black.eot');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'jetbrains-mono';
  src: url('../../static/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../../static/fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../../static/fonts/JetBrainsMono-Regular.eot');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@import 'reactflow/dist/style.css';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff0072;
  --ifm-color-primary-dark: #cc005b;
  --ifm-color-primary-darker: #66002e;
  --ifm-color-primary-darkest: #330017;
  --ifm-color-primary-light: #ff8abe;
  --ifm-color-primary-lighter: #ffb8d8;
  --ifm-color-primary-lightest: #ffe5f1;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'nt-dapper', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
  --ifm-font-family-monospace: 'jetbrains-mono', monospace;
  --ifm-heading-font-weight: 900;
  --ifm-navbar-item-padding-horizontal: 20px;
  --ifm-navbar-height: 80px;
  --ifm-link-decoration: none;
  --ifm-link-hover-decoration: none;
  --ifm-z-index-fixed: 100;
}

html {
  -webkit-font-smoothing: auto;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.blog-wrapper .main-wrapper .container {
  max-width: 1000px;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.blog-wrapper .main-wrapper header h2 a {
  color: var(--chakra-colors-gray-800);
}

.blog-wrapper .main-wrapper p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 28px;
}

.blog-wrapper .main-wrapper ul {
  font-size: 18px;
  line-height: 36px;
}

.blog-wrapper .main-wrapper header h2 a:hover {
  color: var(--ifm-color-primary);
}

.blog-list-page article .col--3 a {
  color: #fff;
  background: var(--ifm-color-primary);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem 0.3rem;
  font-size: 90%;
}

.blog-list-page article .col--3 a:hover {
  background: var(--ifm-color-primary-dark);
}

.blog-list-page article .col--3 a b {
  font-weight: 400;
}

.navbar__brand {
  font-size: 1.5rem;
}

.navbar__title {
  font-weight: 900;
}

.navbar__logo {
  height: 40px;
}

a.navbar__brand:hover {
  color: var(--ifm-navbar-link-color);
}

.headline {
  z-index: 50;
}

.navbar.navbar--fixed-top {
  z-index: 100;
}

.navbar__item {
  font-weight: 700;
}

.DocSearch-Container {
  z-index: 110;
}

.hide-svg-icon svg {
  display: none;
}

.navbar__items .button__rfpro {
  color: #ffffff;
  background: var(--ifm-color-primary);
  padding: 12px 20px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1;
  -webkit-transition: 0.075s all ease-in-out;
  transition: 0.075s all ease-in-out;
  padding-right: 45px !important;
  margin-left: 15px;
  position: relative;
}

.navbar__items .button__rfpro:after {
  content: url('/img/diamond.svg');
  position: absolute;
  width: 26px;
  right: 12px;
  top: 6px;
}

.navbar__items .button__rfpro:hover {
  color: #fff;
  background: var(--ifm-color-primary-dark);
}

.menu__link {
  font-weight: 700;
}

.theme-doc-sidebar-item-category > .menu__link {
  font-weight: 900;
  color: var(--ifm-navbar-link-color);
}

.footer--dark {
  --ifm-footer-background-color: #222138;
  --ifm-footer-color: #eef0f2;
  --ifm-footer-link-color: #c5cbd2;
}

.footer__title {
  font-weight: 900;
}

.footer__item {
  font-weight: 700;
}

.footer__item svg {
  display: none;
}

.footer__copyright {
  font-weight: 400;
  font-size: 12px;
  color: var(--ifm-footer-color);
}

.footer__copyright > a {
  color: var(--ifm-footer-link-color);
}

.footer__copyright > a:hover {
  text-decoration: underline;
}

.footer__links {
  margin-bottom: 2.5rem;
}

.DocSearch-Button-Container .DocSearch-Button-Placeholder {
  font-size: 14px;
}

.DocSearch-Button .DocSearch-Button-Container .DocSearch-Search-Icon {
  width: 18px;
  height: 18px;
  color: var(--chakra-colors-gray-400);
}

.docs-wrapper table {
  width: 100%;
  display: table;
}

.react-flow .react-flow__attribution {
  z-index: 6;
}

.menu__list-item.pro > a {
  justify-content: flex-start;
  align-items: center;
}

.menu__list-item.pro > .menu__link:after,
.menu__list-item.new > .menu__link:after {
  content: 'pro';
  margin-left: 5px;
  background-color: var(--ifm-color-primary);
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  padding: 2px 4px;
  border-radius: 4px;
}

.menu__list-item.new > .menu__link:after {
  content: 'new';
}

.chakra-stat dl,
.chakra-stat dd {
  margin: 0;
}

@media (min-width: 997px) {
  nav.menu {
    padding-bottom: 80px;
  }
}
