.zoompanflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
}

.zoompanflow aside {
  border-left: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fff;
}

.zoompanflow aside .description {
  margin-bottom: 10px;
}

.zoompanflow aside button {
  display: block;
  margin-bottom: 5px;
}

.zoompanflow .reactflow-wrapper {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .zoompanflow {
    flex-direction: row;
  }

  .zoompanflow aside {
    width: 20%;
    max-width: 250px;
  }
}
